.switch {
  position: fixed;
    top: 20%;
    right: 43.89%;
  width: 10rem;
  height: 4.5rem;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 4rem;
  width: 4rem;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(5.5rem);
  -ms-transform: translateX(5.5rem);
  transform: translateX(5.5rem);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#drop{
    width: 350px;
    height: 70px;
    padding: 10px;
    border: 1px solid #aaaaaa;
    position: fixed;
    bottom: 10px;
    right: 0px;
    height: 10%;
}
input[type="file"] {
  display: none;
}

.custom-file-upload img {
    height: 50px;
    width: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#title{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

